@charset "UTF-8";
body {
	font-family: 'YaHei Consolas Hybrid','微软雅黑';
	font-size: 16px;
}
#navbar {
	border-radius:0px;
}
#navbar-brand {
	/* font-size: 25px; */
	padding-top: 2px;
}
/* #navbar-container {
	background-image: linear-gradient(to bottom,#000,#1A1A1A);
}
#navbar-brand:hover {
	color: #fff;
}
#navbar-nav li a {
	color: #fff;
}
#navbar-nav li a:hover {
	color: #E5E5E5;
} */
